.App {
  text-align: center;
  margin: 50px 20px;
  padding: 50px 30px;
  background-color: #eee;
  border-radius: 10px;
}

.inputDiv>input {
  margin: 20px 0;
}

.btnsDiv button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all .5s;
}

.delAllBtn, .deleteBtn {
  background-color: #d21e33;
}

.delAllBtn:hover, .deleteBtn:hover {
  background-color: rgb(161, 15, 32);
}

.addBtn {
  background-color: #2ec2eb;
}

.addBtn:hover {
  background-color: #1888a7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btnsDiv {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.editDelBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.editDelBtns button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  transition: all .5s;
}

.editBtn {
  background-color: rgb(3, 146, 3);
}

.editBtn:hover {
  background-color: rgb(7, 100, 7);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(146, 146, 146); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92); 
}

@media (max-width: 344px) {
  .btnsDiv {
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}